.inputlables{
  color: white;
  margin: 10px;
  margin-left: 0px;
  position: absolute;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 31px;
  background-color: RGBA(127,127,127,0.5);
  width: 240px;
  padding: 10px;
  left: 0;
}

.value{
  height: 80px;
  resize: none;
}

.slider, .color, .style{
  float: right;

}

.credit{
  font-size: 11px;
  color: RGBA(255,255,255,0.5);
  margin: 0px;
  line-height: 13px;
}

body{
  background-color: RGB(61,61,61);
}
